<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title class="mainLayer">
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll=true>

  <div class="balance">
    Balance: {{userBalance.currency}}{{userBalance.availableBalance}}
  </div>

  <ion-card>
    <ion-card-header>
      Monthly Expenditure Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>  

  <ion-card class="cardCss">
    <ion-card-header class="header">
      <ion-card-title>Recent Transcations</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>DEBIT</ion-card-subtitle>
      <ion-item class="transItem">
        <ion-label>766573142 THE SPRING OYSTER</ion-label>
        <ion-note slot="end">$27.24</ion-note>
      </ion-item>
    </ion-card-content>    
  </ion-card>

</ion-content>
