<ion-header>
	<ion-toolbar>
    	<ion-buttons slot="start" *ngIf="!hideInitialDetails">
      		<ion-back-button defaultHref="/home"></ion-back-button>
    	</ion-buttons>

    	<ion-buttons slot="start" *ngIf="hideInitialDetails">
      		<ion-button (click)="loadInitialDetails()">
        		<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      		</ion-button>
    	</ion-buttons>    	

    	<ion-buttons slot="secondary" *ngIf="hideInitialDetails">
      		<ion-button (click)="showAddItemModal()">
        		<ion-icon slot="icon-only" name="add"></ion-icon>
      		</ion-button>
    	</ion-buttons>

    	<ion-title class="mainLayer">
      		Claim Details
    	</ion-title>
 	 </ion-toolbar>
</ion-header>

<ion-content>

	<div class="claimDetailsContainer" *ngIf="!hideInitialDetails">
	
		<ion-item lines="none" class="inputBtn">
	  		<ion-label>Purpose of Claim</ion-label>
	  		<ion-input placeholder="Type Here" class="inputBtn" input="text" autofocus="true" clearInput="true" autocorrect="true" [(ngModel)]="claimDetails.Purpose"></ion-input>
		</ion-item>

		<ion-item lines="none" class="inputBtn">
	  		<ion-label>Date of Claim</ion-label>
	  		<ion-datetime displayFormat="DD MM YY" placeholder="Select Date" [(ngModel)]="claimDetails.Date"></ion-datetime>
		</ion-item>

		<ion-item lines="none" class="inputBtn">
	  		<ion-label>Name of Requestor</ion-label>
	  		<ion-input placeholder="Type Here" class="inputBtn" input="text" autofocus="true" clearInput="true" autocorrect="true" [(ngModel)]="claimDetails.Requestor"></ion-input>
		</ion-item>	

		<ion-item lines="none" class="inputBtn">
	  		<ion-label>Name of Ministry</ion-label>
	  		<ion-input placeholder="Type Here" class="inputBtn" input="text" autofocus="true" clearInput="true" autocorrect="true" [(ngModel)]="claimDetails.Ministry"></ion-input>
		</ion-item>

		<button class="nextBtn" (click)="proceedNext()">Next</button>

	</div>

	<div class="claimDetailsContainer" *ngIf="hideInitialDetails">

		<ion-item lines="none" class="textOnly">
	  		<ion-label>Purpose of Claim</ion-label>
	  		<ion-label class="rightLabel">{{claimDetails.Purpose}}</ion-label>
		</ion-item>

		<ion-item lines="none" class="textOnly">
	  		<ion-label>Date of Claim</ion-label>
	  		<ion-label class="rightLabel">{{claimDetails.Date | date: 'dd MM yy'}}</ion-label>
		</ion-item>

		<ion-item lines="none" class="textOnly">
	  		<ion-label>Name of Requestor</ion-label>
	  		<ion-label class="rightLabel">{{claimDetails.Requestor}}</ion-label>
		</ion-item>

		<ion-item lines="none" class="textOnly">
	  		<ion-label>Name of Ministry</ion-label>
	  		<ion-label class="rightLabel">{{claimDetails.Ministry}}</ion-label>
		</ion-item>						

	</div>

</ion-content>
