<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title class="mainLayer">
      User Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="profile">
  <ion-card-header>

	<ion-avatar>
  		<img src="../../assets/icon/pexels-photo-594610.jpeg">
	</ion-avatar>  	
    <ion-card-title>Mary Tan</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card class="account">
  <ion-card-header>
    <ion-card-title>{{userAccount.displayName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  	<ion-card-subtitle>Type: {{userAccount.type}}</ion-card-subtitle>
  	<ion-card-subtitle>Balance: {{userBalance.currency}}{{userBalance.availableBalance}}</ion-card-subtitle>
  	<ion-card-subtitle>Account Number: {{userAccount.accountNumber}}</ion-card-subtitle>
  </ion-card-content>
</ion-card>

</ion-content>
